
<section id="about" class="s-about target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>Hakkımda</h3>
            <h1>@ViewBag.aboutTitle</h1>
            <p class="lead">@ViewBag.aboutSubDescription</p>
        </div>
    </div>

    <div class="row about-content">

        <div class="col-six tab-full left">
            <h3>Ben Kimim!</h3>

            <p>@ViewBag.aboutDetail</p>
        </div>

        @await Component.InvokeAsync("_SkillComponentPartial")
        

    </div> <!-- end about-content -->

    <div class="row about-content about-content--buttons">

        <div class="col-six tab-full left">
            <a href="#0" class="btn btn--primary full-width">Cv'mi İndir</a>
        </div>
        <div class="col-six tab-full right">
            <a href="#0" class="btn full-width">Bana Yazın</a>
        </div>

    </div> <!-- end about-content buttons -->
    @await Component.InvokeAsync("_ExperienceComponentPartial")
     <!-- end about-content timeline -->

</section>