<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="index.html"><img src="~/hola-master/images/logo.png" alt="Homepage"></a>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="#home" title="home">Ana Sayfa</a></li>
            <li><a class="smoothscroll" href="#about" title="about">Hakkımda</a></li>
            <li><a class="smoothscroll" href="#works" title="works">Projelerim</a></li>
            <li><a class="smoothscroll" href="#blog" title="blog">Referanslarım</a></li>
            <li><a class="smoothscroll" href="#contact" title="contact">İletişim</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>