<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                150
            </div>
            <h4>Awards Received</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                1256
            </div>
            <h4>Cups of Coffee</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                110
            </div>
            <h4>Projects Completed</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                101
            </div>
            <h4>Happy Clients</h4>
        </div>

    </div>
</section>