@model Message
@{
    ViewData["Title"] = "MessageDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<input type="hidden" asp-for="MessageId" />

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mesajlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj Detayları</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Gönderen: <b>@Model.NameSurname</b>
                            <br />
                            Email: <b>@Model.Email</b>
                            <br />
                            Tarih: <b>@Model.SendDate</b>
                            <br /><br />
                            Mesaj: <b>@Model.MessageDetail</b>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
