
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body>
	<div class="wrapper">

		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")

		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")
	
		<div class="main-panel">

		@RenderBody()

			<footer class="footer">

				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="http://www.themekita.com">
									ThemeKita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Help
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://themewagon.com/license/#free-item">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						@DateTime.Now.Year, made with <i class="la la-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
					</div>
				</div>
			</footer>
		</div>

	</div>

	</div>
	
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")

</html>