@model Experience

@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Deneyimler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Deneyim Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="ExperienceId" />
                            <label>Firma Bilgisi</label>
                            <input type="text" asp-for="Head" class="form-control" />
                            <br />
                            <label>Çalışılan Pozisyon</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Tarih Aralığı</label>
                            <input type="text" asp-for="Date" class="form-control" />
                            <br />
                            <label>Açıklama</label>
                            <textarea rows="4" class="form-control" asp-for="Description"></textarea>
                            <br />
                            <button class="btn btn-warning">Deneyimi Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

